<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.automation Test Suite">

	<test name="Login Tests">
		<classes>
			<class name="com.automation.tests.LoginTests" />
		</classes>
	</test>

	<test name="Home Page Tests">
		<classes>
			<class name="com.automation.tests.HomePageTest" />
		</classes>
	</test>

	<listeners>
		<listener class-name="com.automation.listeners.ScreenshotListener" />
	</listeners>

</suite>